@import '../../common/functions.scss';

.input__container {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;

  .input__field {
    height: rem(54px);
    width: rem(100px);
    margin-right:0;
    border: rem(2px) #000 solid;
    padding: rem(5px) rem(12px);
    font-size: rem(20px);
  }

  .input__button {
    height: rem(60px);
    width: rem(250px);
    background-color: #57CCCB;
    color: #FFF;
    font-size: rem(20px);
    text-transform: capitalize;
    cursor: pointer;

    &:focus {
      outline:0;
    }
  }
}

@media screen and (max-width: rem(450px)) {
 .input__container {
    flex-direction: column;
    max-height: rem(120px);
    align-items: center;
    justify-content: center;

    .input__field {
      height: rem(54px);
      width: rem(100px);
      margin-bottom: rem(3px);
    }
  
    .input__button {
      height: rem(60px);
      width: rem(250px);
    }
  }
}
